
nav
	.log-section
		a(href="/web/index").web-title UCCU
	ul.category-section
		li.category-item
			h5.item-title Cloth
			ul.d-menu
				li.d-item#nav-Cloth Cloth Manegement

		li.category-item
			h5.item-title Look
			ul.d-menu
				li.d-item#nav-Look Look Manegement

		li.category-item
			h5.item-title Base Element
			ul.d-menu
				li.d-item#nav-Color Color Element
				li.d-item#nav-Category Category Element

		li.category-item
			h5.item-title Profile
			ul.d-menu
				li.d-item#nav-ChangePasswd Change Password

		li.category-item
			h5.item-title#nav-logout Logout
